@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

body{
    display:flex;
    position: relative;
    margin:0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 19px;
    width: 1918px;
    height: 935px;
}
.navbar{
    position: absolute;
    width: 150px;
    height: 935px;
    background: #191718;
}
.navbar-links{
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar-links li {
    width: 150px;
    height: 44px;
    color: #AAAAAA;
    border-bottom: 1px solid #5C5C5C;
}
.navbar-links li a{
    position: absolute;
    padding-left: 16px;
    padding-top: 14px;
}
.container{
    position:absolute;
    margin-left: 150px;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    height: 935px;

}
.logo img{
    margin-top: 20px;
    margin-bottom: 30px;
}
.content{
    margin-left:  150px;
    margin-right: 150px;
    
}

.lorem{
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 18px 269px 38px 269px;
}

.ipsum{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    margin-top: 40px;
}
.ipsum-tools{
    display: grid;
    grid-template-columns: 128px 326px;
    grid-template-rows: 36px 134px 72px;
}
.item:first-child{
    grid-column: 1/3;
    grid-row: 1/2;
    row-gap: 18px;
}
.item:nth-child(2),
.item:nth-child(3)
{
    grid-row: 2/3;
    column-gap: 16px;
}
.item:nth-child(4)
{
    grid-column: 1/3;
}
h2{
    margin: 0;
}
p{
    margin: 0;
}
.footer{
    position: absolute;
    display: flex;
    bottom: 0;
    border-top: 1px solid #DEDEDE;
    width: 100%;
    height: 78px;
    
}
.footer span{
    margin: 30px 129px 30px ;
    color: #3E3E3E;
}